services:
  jenkins:
    image: jenkins/jenkins:lts-jdk17
    container_name: food_jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
    networks:
      - food-network

volumes:
  jenkins_home:
    driver: local
